#editForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media (min-width: 992px) {
    #editForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #submitContainerEditForm {
        grid-column-start: span 2;
    }
}
