*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-img-top-3-2 {
    aspect-ratio: 3/2;
}

.card-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mw-400 {
    max-width: 400px;
}

#registrationFormContainer {
    max-width: 900px;
}

#registrationForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#bannerHomePage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/homebanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
}

/*
lg media queries
 */
@media (min-width: 992px) {

    #navbarNavContent {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-content: center;
    }

    #navbarNavContent :last-child {
        justify-self: end;

    }

    #navbarNavContent :first-child {
        justify-self: start;

    }

    #registrationForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #submitContainerRegistrationForm {
        grid-column-start: span 2;
    }

    .box-border-form {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
    }
}
