*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.mw-400 {
    max-width: 400px;
}

#registrationFormContainer {
    max-width: 900px;
}

#registrationForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

#bannerHomePage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/homebanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 200px;
}

/*
lg media queries
 */
@media (min-width: 992px) {

    #navbarNavContent {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        justify-content: center;
    }

    #navbarNavContent :last-child {
        justify-self: end;

    }

    #navbarNavContent :first-child {
        justify-self: start;

    }

    #registrationForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    #submitContainerRegistrationForm {
        grid-column-start: span 2;
    }

    .box-border-form {
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
    }
}
