<!DOCTYPE html>

<html layout:decorate="~{account/fragments/account_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" th:href="@{/resources/css/account/edit-password.css}"/>
</head>
<body>
<th:block layout:fragment="account_content">
    <h1 class="mb-4">Cambia password</h1>

    <div class="alert alert-success mb-4" th:if="${param.success}">
        <strong>Cambio password effettuato con successo! :]</strong> <br/>
    </div>
    <form class="" enctype="multipart/form-data" id="editPasswordForm" method="post"
          th:action="@{/account/edit-password}"
          th:object="${passwordDTO}">
        <div>
            <label class="form-label" for="currentPasswordEditPasswordForm">Password attuale</label>
            <input class="form-control" id="currentPasswordEditPasswordForm" required
                   th:classappend="${#fields.hasErrors('currentPassword')} ? 'is-invalid' : ''"
                   th:field="*{currentPassword}"
                   type="password"/>
            <div class="invalid-feedback" th:each="error : ${#fields.errors('currentPassword')}"
                 th:text="${error}"></div>
        </div>
        <div>
            <label class="form-label" for="newPasswordEditPasswordForm">Nuova password</label>
            <input class="form-control" id="newPasswordEditPasswordForm" required
                   th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''"
                   th:field="*{newPassword}"
                   type="password"/>
            <div class="invalid-feedback" th:each="error : ${#fields.errors('newPassword')}"
                 th:text="${error}"></div>
        </div>
        <div>
            <label class="form-label" for="matchingPasswordEditPasswordForm">Ripeti nuova
                password</label>
            <input class="form-control" id="matchingPasswordEditPasswordForm" required
                   th:classappend="${#fields.hasErrors('matchingPassword')} ? 'is-invalid' : ''"
                   th:field="*{matchingPassword}"
                   type="password"/>
            <div class="invalid-feedback" th:each="error : ${#fields.errors('matchingPassword')}"
                 th:text="${error}"></div>
        </div>
        <div class="mt-4" id="submitContainerEditPasswordForm">
            <div class="d-flex justify-content-end">
                <th:block th:replace="fragments/submit_button.html :: submitButton ('Salva modifiche')"></th:block>
            </div>
        </div>
    </form>

</th:block>
</body>
</html>
