<!DOCTYPE html>

<html layout:decorate="~{account/fragments/account_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" th:href="@{/resources/css/card.css}"/>
</head>
<body>
<th:block layout:fragment="account_content">

    <h1 class="mb-4">Le mie candidature</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
        <th:block th:each="candidatura : ${candidature}">
            <th:block
                    th:replace="~{fragments/card_missione :: card_missione(${candidatura.missione}, ~{ :: #missionButton}, ~{:: badge})}">
                <a class="btn btn-primary w-100 rounded-pill" id="missionButton"
                   th:href="@{/mission(id = ${candidatura.missione.id})}">
                    Visualizza Dettagli <i class="fa-solid fa-arrow-right ms-1"></i>
                </a>
                <div class="position-absolute top-0 end-0 me-2 mt-2" th:fragment="badge">
                    <th:block th:switch="${candidatura.stato}">
                        <th:block th:case="${candidatura.stato.ACCETTATA}">
                            <span class="badge text-bg-primary">Accettata</span>
                        </th:block>
                        <th:block th:case="${candidatura.stato.RIFIUTATA}">
                            <span class="badge text-bg-secondary">Rifiutata</span>
                        </th:block>
                        <th:block th:case="${candidatura.stato.IN_CORSO}">
                            <span class="badge text-bg-warning">Pending</span>
                        </th:block>
                    </th:block>
                </div>
            </th:block>
        </th:block>
    </div>
    <th:block th:replace="~{fragments/pagination :: pagination(${candidature})}"></th:block>


</th:block>
</body>
</html>
