<!DOCTYPE html>

<!--th:replace="~{fragments/layout :: layout (~{::body},'Login')}"-->
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<body>
<th:block layout:fragment="content">
    <h1 class="mx-auto text-center my-5">Recupera password</h1>
    <div class="mx-auto mb-4  mw-400" id="resetPasswordFormContainer">
        <form class="" method="post" th:action="@{/resetPassword}">
            <div class="mb-4">
                <label class="form-label" for="inputEmailResetPasswordForm">E-mail</label>
                <input class="form-control" id="inputEmailResetPasswordForm" name="email" placeholder="user@example.com"
                       required type="text"/>
            </div>
            <input class="btn border rounded-pill w-100" type="submit" value="Invia"/>
        </form>
    </div>
</th:block>
</body>
</html>
