<!DOCTYPE html>

<!--th:replace="~{fragments/layout :: layout (~{::body},'Login')}"-->
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
>
<body>
<th:block layout:fragment="content">
    <h1 class="mx-auto text-center my-5">Recupera password</h1>
    <div class="mx-auto mb-4  mw-400" id="resetPasswordConfirmFormContainer">
        <form class="" method="post" novalidate th:action="@{/resetPasswordConfirm}" th:object="${dto}">
            <input th:field="*{token}" type="hidden"/>
            <div class="mb-4">
                <label class="form-label" for="passwordReset">Nuova password</label>
                <input class="form-control" id="passwordReset" required
                       th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''"
                       th:field="*{newPassword}"
                       type="password"/>
                <div class="invalid-feedback" th:each="error : ${#fields.errors('newPassword')}"
                     th:text="${error}"></div>
            </div>
            <div class="mb-4">
                <label class="form-label" for="matchingPasswordReset">Ripeti nuova
                    password</label>
                <input class="form-control" id="matchingPasswordReset" required
                       th:classappend="${#fields.hasErrors('matchingPassword')} ? 'is-invalid' : ''"
                       th:field="*{matchingPassword}"
                       type="password"/>
                <div class="invalid-feedback" th:each="error : ${#fields.errors('matchingPassword')}"
                     th:text="${error}"></div>
            </div>


            <input class="btn border rounded-pill w-100" type="submit" value="Invia"/>
        </form>
    </div>
</th:block>
</body>
</html>
