<!DOCTYPE html>

<!--th:fragment="layout (template, menu)"-->
<html lang="it"
      xmlns:th="https://www.thymeleaf.org">

<body>

<div class="container-xl mt-auto" th:fragment="footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a aria-label="EarthLocals" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
               href="/">
                <img alt="EarthLocals" th:src="@{/resources/images/logo.png}" width="200"/>
            </a>
            <p class="text-body-secondary">© 2026</p></div>
        <div class="col mb-3"></div>
        <div class="col mb-3"><h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Features</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Pricing</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">FAQs</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">About</a></li>
            </ul>
        </div>
        <div class="col mb-3"><h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Features</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Pricing</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">FAQs</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">About</a></li>
            </ul>
        </div>
        <div class="col mb-3"><h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Home</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Features</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">Pricing</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">FAQs</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="#">About</a></li>
            </ul>
        </div>
    </footer>
</div>

</body>

</html>
