<!DOCTYPE html>

<html lang="it"
      xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="pageButton(pageNum, label, tooltip, pageSize)">
    <a class="page-link" rel="tooltip"
       th:href="@{''(page=${pageNum}, pageSize=${pageSize})}"
       th:if="${pageSize != null}"
       th:text="${label}"
       th:title="${tooltip}">
    </a>
    <!-- /confirm-account?id=id&password=tmpPassword -->
    <a class="page-link" rel="tooltip"
       th:href="@{''(page=${pageNum})}"
       th:if="${pageSize == null}"
       th:text="${label}"
       th:title="${tooltip}">
    </a>
</th:block>
<!-- TODO: Il corretto funzionamento della paginazione va testato -->
<th:block th:fragment="pagination(pageObject)">
    <!--/*@thymesVar id="pageObject" type="org.springframework.data.domain.Page"*/-->
    <div aria-label="Pagination" th:if="${pageObject.totalPages > 0}">
        <div class="pagination justify-content-center">
            <div class="page-item" th:classappend="${pageObject.number == 0 ? 'disabled' : ''}">
                <th:block
                        th:replace="fragments/pagination :: pageButton(${pageObject.number - 1}, '&laquo;', 'Precendente', ${pageObject.size})"></th:block>
            </div>
            <div class="page-item disabled" th:if="${pageObject.number  - 2 > 0}">
                <div class="page-link">
                    ...
                </div>
            </div>
            <div class="page-item" th:classappend="${page == pageObject.number} ? 'active'"
                 th:each="page: ${#numbers.sequence((pageObject.number > 1 ? pageObject.number - 2 : 0), (pageObject.number + 3 < pageObject.totalPages ? pageObject.number + 2 : pageObject.totalPages - 1))}">
                <th:block
                        th:replace="fragments/pagination :: pageButton(${page}, ${page + 1}, 'Pagina ' + ${page + 1}, ${pageObject.size})"></th:block>
            </div>
            <div class="page-item disabled" th:if="${pageObject.number  + 3 < pageObject.totalPages}">
                <div class="page-link">
                    ...
                </div>
            </div>
            <div class="page-item" th:classappend="${pageObject.number + 1== pageObject.totalPages ? 'disabled' : ''}">
                <th:block
                        th:replace="fragments/pagination :: pageButton(${pageObject.number + 1}, '&raquo;', 'Successivo', ${pageObject.size})"></th:block>
            </div>

        </div>
    </div>
</th:block>

</html>